{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <br>
            <h3> ID: {{user.id}} </h3>
            <p> Пользователь: {{user.username}} </p>
            <p> Возраст: {{user.age}} </p>
        </article>
    {% else %}
            <section class="container-fluid">
                <h3 align="center"> Users </h3>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for i in users %}
                        <li class="list-group-item">
                            <p> {{i.id}}. </p>
                            <a href="/user/{{i.id}}/{{username}}"> {{i.username}}, {{i.age}} </a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}